$md-matgrey: (
  50 : #f8eff4,
  100 : #edd7e3,
  200 : #e1bdd0,
  300 : #d4a3bd,
  400 : #cb8fae,
  500 : #c27ba0,
  600 : #bc7398,
  700 : #b4688e,
  800 : #ac5e84,
  900 : #9f4b73,
  A100 : #fffcfd,
  A200 : #ffc9e2,
  A400 : #ff96c7,
  A700 : #ff7cb9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

