.block {
  margin-top: 50px;
}


section {
  display: table;
  margin: 8px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

